<div id="page-wrap">
  <div id="static-pages">
  <div class="container-fluid">

				<div class="row-fluid">
				  <div class="span9" style="padding-right:10px;">

<h3><%= image_tag('contact.jpg') %></h3>
<p><b>:: Feel free to contact us. ::</b></p>

<p><b><%= image_tag('gmail.png') %></b><p id="contact" style="font-size:18px; margin-left:50px; margin-top:-30px;">techoshdotcom@gmail.com</p></p>
<br/>

<p><b><%= image_tag('facebook.jpg', :width=>'30') %></b><p id="contact" style="font-size:18px; margin-left:50px; margin-top:-30px;">https://www.facebook.com/Techoshdotcom</p></p>
<br/>

<p><b><%= image_tag('google-plus.png', :width=>'30') %></b><p id="contact" style="font-size:18px; margin-left:50px; margin-top:-30px;">https://plus.google.com/108171077689451362434</p></p>
<br/>

<p><b><%= image_tag('twitter.jpg', :width=>'30') %></b><p id="contact" style="font-size:18px; margin-left:50px; margin-top:-30px;">https://twitter.com/TechoshDotCom</p></p>
<br/>

<p><b><%= image_tag('youtube.png', :width=>'30') %></b><p id="contact" style="font-size:18px; margin-left:50px; margin-top:-30px;">http://www.youtube.com/channel/UCyY2rcdxJCG73xOrh0iXO8g</p></p>
<br/>







				  </div>
				  <div class="span3" style="margin-left:-2px; margin-top:-20px;">
				  <%= render partial: "sidebar" %>
							
				  </div>
				 </div>
			  </div>
			 </div>
			</div>