<!-- BEGIN .content -->
			<section class="content">
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">
					

					<!-- <div class="breaking-news">
						<div class="breaking-title">
							<h3>Breaking News</h3>
						</div>
						<div class="breaking-block">
							<ul>
								<li><a href="category.html" class="break-category" style="background-color: #276197;">Tech News</a><h4><a href="post.html">Prize pool for The International 2014 surges to $5.7 million</a></h4><a href="post.html#comments" class="comment-link"><i class="fa fa-comment-o"></i>0</a></li>
								<li><a href="category.html" class="break-category" style="background-color: #429d4a;">Contests</a><h4><a href="post.html">An rebum nusquam cum duo invenire mundi</a></h4><a href="post.html#comments" class="comment-link"><i class="fa fa-comment-o"></i>0</a></li>
								<li><a href="category.html" class="break-category" style="background-color: #ffd800; color: #232323;">World News</a><h4><a href="post.html">An rebum nusquam cum duo invenire mundi</a></h4><a href="post.html#comments" class="comment-link"><i class="fa fa-comment-o"></i>0</a></li>
							</ul>
						</div>
					</div> -->


					<div class="main-content has-sidebar">
					<!-- <div class="main-content has-double-sidebar"> -->
					<!-- <div class="main-content"> -->

						<!-- BEGIN .left-content -->
						<div class="left-content">

							<!-- BEGIN .home-block -->
							<div class="home-block">
								<div class="main-title">
									<h2>Welcome to techosh.com</h2>
									<span>A treasure of technology videos for everyone</span>
								</div>
								
								<!-- BEGIN .home-block -->
							<div class="home-block">
								<div class="banner">
									<a href="#" target="_blank"><%= image_tag "ads3.png" %></a>
								</div>
							<!-- END .home-block -->
							</div>

								<!-- BEGIN .article-list-block -->
								<div class="article-list-block">

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>in Hindi</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#6bab32" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#dc1010" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>
									
									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>in Hindi</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#6bab32" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#dc1010" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>
									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>in Hindi</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#6bab32" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#dc1010" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>
									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>in Hindi</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#6bab32" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#dc1010" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>
									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>in Hindi</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#6bab32" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#276197" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#dc1010" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
									
									</div>

									<div class="item">
										<div class="item-header">
											<a href="post.html" class="image-hover" data-path-hover="M 37,53 45,34 58.5,37.5 61,59 48.5,69 z">
												<figure>
													<%= image_tag "photos/image-63.jpg" %>
													<svg viewBox="0 0 100 100" preserveAspectRatio="none"><path d="M 0,100 0,99 50,97 100,99 100,100 z" fill="#ef8722" /></svg>
													<figcaption>
														<span class="hover-text"><i class="fa fa-play"></i><span>Photo</span></span>
													</figcaption>
												</figure>
											</a>
										</div>
										
									</div>

								<!-- END .article-list-block -->
								</div>
								
							<!-- END .home-block -->
							</div>

							

						<!-- BEGIN .home-block -->
							<div class="home-block">
								<div class="banner">
									<a href="#" target="_blank"><%= image_tag "no-banner-728x90.jpg" %></a>
								</div>
							<!-- END .home-block -->
							</div>

						<!-- END .left-content -->
						</div>

						<!-- BEGIN #sidebar -->
						<aside id="sidebar">
				
							<div class="widget">
								<h3>Subscribe Newsletter</h3>
								<div class="subscribe-feed">
								<!--
									<p>Te lorem libris iracundia eos. Ne eam liber veritus, eos eu agam recteque, exerci reformidans sea no.</p>

									<!-- <div class="coloralert aweber-success">
										<i class="fa fa-check"></i>
										<p>Success! Everything went well, You are now subscribed !</p>
										<a href="#close-alert"><i class="fa fa-times-circle"></i></a>
									</div> -->

									<!-- <div class="coloralert aweber-fail">
										<i class="fa fa-warning"></i>
										<p>Error Occurred!</p>
										<a href="#close-alert"><i class="fa fa-times-circle"></i></a>
									</div> -->
<!--
									<div class="coloralert aweber-loading">
										<i class="fa fa-refresh fa-spin"></i>
										<p>Loading.. <br>This may take a few seconds !</p>
										<a href="#close-alert"><i class="fa fa-times-circle"></i></a>
									</div>

-->
									<form name="aweber-form" action="#" class="subscribe-form aweber-form">
										<p class="sub-name">
											<input type="text" value="" placeholder="Your name" name="u_name" class="u_name">
										</p>
										<p class="sub-email">
											<input type="text" value="" placeholder="E-mail address" name="email" class="email">
										</p>
										<p class="sub-submit">
											<input type="submit" value="Subscribe" class="button aweber-submit">
										</p>
									</form>
								</div>
							</div>
							
							<div class="widget">
								<h3>Tag Cloud</h3>
								<div class="tagcloud">
									<a href="category.html">Aeterno</a>
									<a href="category.html">Definitionem</a>
									<a href="category.html">Melius</a>
									<a href="category.html">meis etiam volutpat at nam</a>
									<a href="category.html">nec nibh</a>
									<a href="category.html">Persequeris</a>
									<a href="category.html">vel</a>
									<a href="category.html">Tollit nominavi</a>
								</div>
							</div>
                   <div class="sidebar-fixed">

								<div class="widget">
									<h3>Socialize</h3>
									<div class="socialize-widget">
										
										<div class="ot-social-block">
											<a href="#" class="soc-link soc-facebook">
												<strong>2k<small>likes</small></strong>
												<span>facebook</span>
											</a>
											<a href="#" class="soc-link soc-twitter">
												<strong>901<small>tweets</small></strong>
												<span>twitter</span>
											</a>
											<a href="#" class="soc-link soc-google">
												<strong>81<small>+1's</small></strong>
												<span>google+</span>
											</a>
											<a href="#" class="soc-link soc-linkedin">
												<strong>34<small>shares</small></strong>
												<span>linkedin</span>
											</a>
										</div>
									</div>
								</div>

								<div class="widget">
									<div class="banner">
										<a href="#" target="_blank"><%= image_tag "no-banner-300x250.jpg" %></a>
									</div>
								</div>

							</div>
							

						<!-- END #sidebar -->
						</aside>


					</div>
					
				<!-- END .wrapper -->
				</div>
				
			<!-- BEGIN .content -->
			</section>