 <fieldset>
<div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br />
    <%= f.text_field :video_url %>
  </div>
   <%= link_to "remove", '#', class: "remove_fields btn btn-danger" %>
 </fieldset>    