<!-- BEGIN .content -->
			<section class="content">
				
				<!-- BEGIN .wrapper -->
				<div class="wrapper">
					

					<!-- <div class="breaking-news">
						<div class="breaking-title">
							<h3>Breaking News</h3>
						</div>
						<div class="breaking-block">
							<ul>
								<li><a href="category.html" class="break-category" style="background-color: #276197;">Tech News</a><h4><a href="post.html">Prize pool for The International 2014 surges to $5.7 million</a></h4><a href="post.html#comments" class="comment-link"><i class="fa fa-comment-o"></i>0</a></li>
								<li><a href="category.html" class="break-category" style="background-color: #429d4a;">Contests</a><h4><a href="post.html">An rebum nusquam cum duo invenire mundi</a></h4><a href="post.html#comments" class="comment-link"><i class="fa fa-comment-o"></i>0</a></li>
								<li><a href="category.html" class="break-category" style="background-color: #ffd800; color: #232323;">World News</a><h4><a href="post.html">An rebum nusquam cum duo invenire mundi</a></h4><a href="post.html#comments" class="comment-link"><i class="fa fa-comment-o"></i>0</a></li>
							</ul>
						</div>
					</div> -->


					<!-- <div class="main-content has-sidebar"> -->
					<div class="main-content has-double-sidebar">

						<!-- BEGIN .left-content -->
						<div class="left-content">
							<div class="main-title">
								<h2><%= @tutorial.title %></h2>
								
							</div>
							
							<div class="article-content">
								
								<div class="post">
											<%= @tutorial.description.html_safe %>
										</div>
								  <%= link_to 'Getting Started', lecture_videotuts_path(@tutorial), :class => 'button' %>		
                                <div class="item" style="margin-top:20px;">
									<div class="banner">
										<%= image_tag "no-banner-728x90.jpg" %>
									</div>
								</div>
								


							</div>

					

						<!-- END .left-content -->
						</div>

						<!-- BEGIN .small-sidebar -->
						<div class="small-sidebar">
							
							<div class="widget">
								<div class="banner">
									<%= image_tag "no-banner-160x600.jpg" %>
								</div>
							</div>

							

						<!-- END .small-sidebar -->
						</div>

						<!-- BEGIN #sidebar -->
						<aside id="sidebar">
				
							<div class="widget">
								<h3>Like Our FaceBook Page</h3>
								<div class="subscribe-feed">
									<div class="fb-like-box" data-href="https://www.facebook.com/Techoshdotcom" data-width="100%" data-height="100%" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
					
	
								</div>
							</div>
							<!--
							<div class="widget">
								<h3>Tag Cloud</h3>
								<div class="tagcloud">
									<a href="category.html">Aeterno</a>
									<a href="category.html">Definitionem</a>
									<a href="category.html">Melius</a>
									<a href="category.html">meis etiam volutpat at nam</a>
									<a href="category.html">nec nibh</a>
									<a href="category.html">Persequeris</a>
									<a href="category.html">vel</a>
									<a href="category.html">Tollit nominavi</a>
								</div>
							</div>
							-->
                   <div class="sidebar-fixed">

								<div class="widget">
									<h3>Socialize</h3>
									<div class="socialize-widget">
										<p>Te lorem libris iracundia eos. Ne eam liber veritus, eos eu agam recteque, exerci reformidans sea no.</p>
										<div class="ot-social-block">
											<a href="#" class="soc-link soc-facebook">
												<strong>2k<small>likes</small></strong>
												<span>facebook</span>
											</a>
											<a href="#" class="soc-link soc-twitter">
												<strong>901<small>tweets</small></strong>
												<span>twitter</span>
											</a>
											<a href="#" class="soc-link soc-google">
												<strong>81<small>+1's</small></strong>
												<span>google+</span>
											</a>
											<a href="#" class="soc-link soc-linkedin">
												<strong>34<small>shares</small></strong>
												<span>linkedin</span>
											</a>
										</div>
									</div>
								</div>

								<div class="widget">
									<div class="banner">
										<%= image_tag "no-banner-300x250.jpg" %>	
									</div>
								</div>

							</div>
							

						<!-- END #sidebar -->
						</aside>


					</div>
					
				<!-- END .wrapper -->
				</div>
				
			<!-- BEGIN .content -->
			</section>
